<mat-card class="mb-2">
  <mat-card-header class="mb-2">Animal List</mat-card-header>
  <mat-card-content *ngIf="data?.length; else loading">
    <div *ngFor="let item of data" class="mb-2">
      <app-animal-row
        [data]="item"
        (deleted)="onDelete(item)"
      ></app-animal-row>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <mat-card-content *ngIf="!data; else empty">
      Loading data
    </mat-card-content>
  </ng-template>
  <ng-template #empty>
    <mat-card-content> No record found </mat-card-content>
  </ng-template>
</mat-card>
<app-animal-form (created)="data?.push($event)"></app-animal-form>
